
{{#if result.isValid}}
    <h1 class="title_products">Productos</h1>
    {{#each allProducts}}
    <ul class="product_box">
        <li>
            <h2>{{title}}</h2>
            <p>Descripción: {{description}}</p>
            <p>Precio: ${{price}}</p>
            <p>Codigo Prod.: {{code}}</p>
            <p>Stock: {{stock}}</p>
        </li>
    </ul>
    {{/each}}
    
<br />
<div>
    {{#if result.hasPrevPage}}
    <a href = {{this.prevLink}}>
        Anterior  
        </a>
        {{/if}}
        &nbsp;
        {{this.page}}
        &nbsp;
        {{#if result.hasNextPage}}
        <a href = {{this.nextPage}}>
            Siguiente
        </a>
        {{/if}}
</div>
{{else}}
<h1>No hay productos para mostrar</h1>
{{/if}}
